<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="quantity_control(quantityValue, productId)">
	<nav>
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link linkMinus" th:pid="${productId}" href=""><b>-</b></a>
			</li>
			
			<li class="page-item"><!-- trong thymeleaf cho phép tự tạo thuộc tính bất kỳ =>sử dụng cách này để lưu giá trị mong muốn. Ví dụ: th:pid =>pid là thuộc tính tự tạo -->	
				<input type="text" th:value="${quantityValue}" th:id="'quantity' + ${productId}"
					onkeydown="return false;" 
					class="form-control text-center" style="width: 55px" /><!-- onkeydown="return false;" =>ko thể nhập giá trị -->
			</li>	
					
			<li class="page-item">
				<a class="page-link linkPlus" th:pid="${productId}" href=""><b>+</b></a>
			</li>			
		</ul>
	</nav>
</div>

</body>
</html>