<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>

<div class="container-fluid text-center">
	<div th:replace="navigation :: menu"></div>
	
	<div>&nbsp;</div>

	<div th:if="${title != null}">
		<h2>[[${title}]]</h2>
	</div>
	
	<!-- trang này sử dụng trong trường hợp reset password ko đúng hoặc đối password mới thành công -->
	
	<div th:if="${message != null}">
		<h3>[[${message}]]</h3>
	</div>
	
	<div>&nbsp;</div>
	
	<!-- <div th:replace="fragments :: footer"></div> -->
</div>	
</body>
</html>